@font-face {
    font-family: 'Rubik Distressed';
    src: url('/fonts/RubikDistressed-Regular.woff2') format('woff2'),
        url('/fonts/RubikDistressed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

