@tailwind base;
@tailwind components;
@tailwind utilities;

//Menu
.menu-btn span {
    background: #000;
    border-radius:10px;
    height: 3px;
    margin: 3px 10px;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.menu-btn.clicked {
    
    .line1 {
        transform-origin:bottom;
        transform:rotatez(45deg) translate(3px, 0px);
    }
    .line2 {
        transform-origin:bottom;
        transform:rotatez(-45deg) translate(0px, 1px);
        @media (min-width: 640px) {
        width: 95%;
        }
    }
    .line3 {
        transform-origin:bottom;
        transform:rotatez(45deg) translate(2px, -9px);
        @media (min-width: 640px) {
        transform:rotatez(45deg) translate(3px, -8px);
        }
    }

    @apply fixed top-14 right-10;
}

.text-shadow {
    font-family: "Arial Black", sans-serif;
    text-shadow: 0px 0px 0 #320000,
                 1px 1px 0 #320000,
                 2px 2px 0 #320000,
                 3px 3px 0 #320000,
                 4px 4px 0 #320000,
                 5px 5px 0 #320000,
                 6px 6px 0 #320000,
                 7px 7px 0 #320000,
                 8px 8px 0 #320000,
                 9px 9px 0 #320000,
                 10px 10px  0 #320000,
                 11px 11px 10px #00000099,
                 11px 11px 1px #00000080,
                 0px 0px 10px #00000033;
    &-white {
        text-shadow: 0px 0px 0 #888,
                     1px 1px 0 #888,
                     2px 2px 0 #888,
                     3px 3px 0 #888,
                     4px 4px 0 #888,
                     5px 5px 0 #888,
                     6px 6px 0 #888,
                     7px 7px 0 #888,
                     8px 8px 0 #888,
                     9px 9px 0 #888,
                     10px 10px  0 #888,
                     11px 11px 10px #00000099,
                     11px 11px 1px #00000080,
                     0px 0px 10px #00000033;
    }
}